* {
	box-sizing: border-box;
	margin: 0;
}

body {
    background: linear-gradient(to right, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #004052;
    color: white;
}

#dealer-hand > img {
    height: 70px;
    width: 50px;
    margin: 1px;
    padding: auto;
}

#player-hand > img {
    height: 70px;
    width: 50px;
    margin: 1px;
    padding: auto;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
}

.main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 750px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "dealer gameboard player"
}

@media only screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "gameboard gameboard"
            "dealer player";
    }
}

.gameboard{
    grid-area: gameboard;
}

.dealer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: dealer;
    background-color: #e5e5e5;
    opacity: 0.8;
    width: 200px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

.dealer-name {
    font-weight: 600;
    margin: 20px auto 10px;
    font-size: 30px;
    color: #000814;
}

.player-name {
    font-weight: 600;
    margin: 20px auto 10px;
    font-size: 30px;
    color: #48cae4;
}

#dealer-stake, #player-stake{
    font-weight: 700;
    font-style: italic;
    margin: 10px auto 20px;
    font-size: 40px;
    color: #ffc300;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: player;
    background-color: #e5e5e5;
    opacity: 0.8;
    width: 200px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

#dealer-image > img {
    border: 5px solid #d7d5d5;
    border-radius: 10px;
 
  }

#player-image > img {
    border: 5px solid #d7d5d5;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}

.timer {
    background-color: #e5e5e5;
    width: 40%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(187, 10, 10, 0.3);
    opacity: 0.8;
    margin: 40px auto;
}

.stake-level {
    background-color: #e5e5e5;
    width: 40%;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(187, 10, 10, 0.3);
    opacity: 0.8;
    margin: 20px auto;
}

.control-desk {
    display: flex;
    justify-content: space-between;
    background-color: #1f1c1c;
    width: 750px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(187, 10, 10, 0.3);
    opacity: 0.8;
    margin: 20px auto;
}

button {
  background-color: #c8be3b;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 10px;
  margin: 15px 25px;
  text-align: center;
  transition: 200ms;
  width: 60%;
  border: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.card-table {
    background-image: url("pics/cardtable.png");
    width: 750px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(187, 10, 10, 0.3);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: 
        "dealer-hand  winner player-hand "
        "dealer-sum pot-amount player-sum";
    text-align: center;
  }

#dealer-hand {
    grid-area: dealer-hand;
}

#dealer-sum {
    grid-area:dealer-sum;
}

#winner {
    grid-area: winner;
}

#pot-amount {
    grid-area: pot-amount;
    font-size: 40px;
    color: #ffc300;
    align-content: center;
    margin: auto 120px;
}

#player-hand{
    grid-area: player-hand;
}

#player-sum{
    grid-area: player-sum;
}

footer {
    margin-top: 30px;
}

span {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 5px;
}

.timer {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    color: black;
  }

.stake-level {
    font-size: 20px;
    color: #000;
}

#next-level-stake {
    font-size: 40px;
    color: #ffc300;
    align-content: center;
    margin: auto 120px;
}

